<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> head}}
  <style>
    .description {
      display: inline-block;
      text-align: left;
      max-width: 80%;
    }

    .preview-image {
      width: 100%;
      padding-bottom: 10px;
    }

    ol, ul {
      padding-left: 1.8em;
    }
  </style>
</head>

<body>
  {{> navbar}}
  <div class="container">
    <div align="center">
      <h1><b><span>{{t titleKey}}</span></b></h1>
      <p>
        {{t "gallery:galleryPage.contributors" count=contributorCount contributors=contributors}}
      </p>
      <div class="description">
        <p>{{t descriptionKey}}</p>
      </div>
      <p>
        <a href="{{simulatorUrl}}#{{idHashUrl}}" target="_blank" class="btn btn-success btn-lg">{{t "gallery:galleryPage.openInSimulator"}}</a>
      </p>
      <picture>
        <source srcset="{{id}}.avif" type="image/avif">
        <img src="{{id}}.jpg" alt="{{t titleKey}}" class="preview-image">
      </picture>
    </div>
    {{> footer}}
  </div>

  <script id="MathJax-script" async src="{{thirdpartyUrl}}/mathjax/tex-mml-chtml.js"></script>
</body>

</html>